@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body{ /*Regras Gerais*/
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-family: 'Roboto Mono', 'Arial', sans-serif;
}

header { /*Regra Geral - Header*/
    font-weight: bold;
    font-size: 36px;
    font-family: 'Roboto Serif', Arial, serif;
}

header h1{ /*Especifico - Header*/
    font-size: 48px;
    line-height: 34px;
}

#bv h1{ /*Regra h1 - Boas Vindas*/
    font-weight: bolder;
    font-size: 64px;
    line-height: 48px;
    font-family: 'Roboto Serif, Arial, Serif';
}

#bv p{ /*Regra para texto - Boas Vindas*/
    font-size: 20px;
}

main h1{ /*Regra h1 princ*/
    color:rgb(213, 255, 26);
    font-weight: bold;
    font-size: 35px;
    font-family: 'Roboto Serif', Arial, Serif;
}

main h2{ /*Regra h2 princ*/
    color:red;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto Serif', Arial, Serif;
}

main h3{ /*Regra h3 princ*/
    color:orange;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    font-family: 'Roboto Serif', Arial, Serif;
}

main p{ /*Regra Geral para p Principal*/
    font-size: 20px;
    color:rgb(0, 0, 0);
}

aside h1{ /*Regra h1 segund*/
    color:rgb(128, 126, 0);
    font-family: 'Roboto Serif', Arial, Serif;
}

aside h2{ /*Regra h2 segund*/
    color:rgb(0, 255, 247);
    font-size: 20px;
    font-family: 'Roboto Serif', Arial, Serif;
}

aside h3{ /*Regra h3 segund*/
    color:rgb(201, 26, 207);
    font-size: 18px;
    font-family: 'Roboto Serif', Arial, Serif;
}

aside p{ /*Regra Geral para p Segundario*/
    font-size: 16px;
    color: blue;
}